@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-image: url('./image.webp');
  font-family: "Muli", sans-serif;
  background-size: cover;
  overflow: hidden;
  width: 100vw;
}

.overlay-container {
  display: flex;
}

@keyframes moveOverlay1 {
  from {
    transform: translateX(-70vw);
  }

  50% {
    transform: translateX(0);
  }

  to {
    transform: translateX(-70vw);
  }
}

@keyframes moveOverlay2 {
  from {
    transform: translateX(0);
  }

  50% {
    transform: translateX(70vw);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes fill {
  to {
    width: 100vw;
    left: 0;
  }
}

.backdrop1 {
  animation: moveOverlay1 2s linear 1.5;
  display: inline-block;
  width: 70vw;
  height: 100vh;
  position: absolute;
  transform: translateX(-70vw);
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
}

.backdrop2 {
  animation: moveOverlay2 2s linear 1.5, fill 0ms linear 3s forwards;
  display: inline-block;
  width: 70vw;
  height: 100vh;
  position: absolute;
  left: 30vw;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
}

@keyframes welcome {
  from {
    transform: translateX(70vw);  
    opacity: 1;
  }

  50% {
    transform: translateX(35vw) translateY(calc(40vh - 10px));
    background-position: 0 80%;
    width: 500px;
    height: 20px;
  }

  to {
    transform: translateX(35vw) translateY(calc(50vh - 10px)) rotate(90deg);
    background-position: 0 80%;
    width: 500px;
    height: 20px;
    opacity: 1;
  }
}

@keyframes open {
  from {
    transform: translateX(35vw) translateY(calc(50vh - 10px)) rotate(90deg);
    background-position: 0 80%;
    width: 500px;
    height: 20px;
    opacity: 1;
  }

  to {
    transform: translateX(30px) translateY(calc(50vh - 200px)) rotate(90deg);
    width: 500px;
    height: 400px;
    background-position: 0 80%;
    opacity: 1;
  }
}

.welcome {
  animation: welcome 2s forwards 3s, open 1s linear 5s forwards;
  height: 100vh;
  width: 30vw;
  background-image: url('./image.webp');
  background-position: 100% 0;
  position: absolute;
  transform: translateX(70vw);
  opacity: 0;
}

@keyframes moveText {
  from {
    transform: translateX(100vw) translateY(-50%);
    opacity: 0;
  }

  to {
    transform: translateX(530px) translateY(-50%);
    opacity: 1;
  }
}

h1 {
  margin: 0;
  top: 50%;
  opacity: 0;
  animation: moveText 1s linear 5s forwards;
  position: absolute;
  color: #fff;
  font-size: 5rem;
  font-weight: 900;
}