html {
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

@keyframes dayLight {
  from, to {
    background-color: #211919;
  }

  40%, 60% {
    background-color: #9acaec;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: #211919;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  min-height: 100vh;
  animation: dayLight 40s infinite linear;
}

.bicycle {
  width: 500px;
  min-height: 400px;
  position: fixed;
  z-index: 10;
}

/* Extra small devices */
@media only screen and (max-width: 375px) {
  .bicycle {
    transform: scale(0.4);
  }
}

@media only screen and (min-width: 375px) and (max-width: 602px) {
  .bicycle {
    transform: scale(0.5);
  }
}

@media only screen and (min-width: 603px) {
  .bicycle {
    transform: scale(0.7);
  }
}

@keyframes rotateWheel {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.wheel {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 10px solid black;
  position: absolute;
  bottom: 0;
  animation: rotateWheel 1s infinite linear;
}

.wheel-left {
  left: calc(-50% + 150px);
}

.wheel-right {
  right: calc(-50% + 150px);
}

.wheel::after {
  content: '';
  width: 167.5px;
  height: 167.5px;
  border-radius: 50%;
  display: block;
  border: 6px solid #fff;
  position: relative;
}

.wheel::before {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  background-color: #fff;
  border: 5px solid black;
  position: absolute;
}

.rim {
  width: 2px;
  height: 170px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 6px;
  left: calc(50% - 1px);
  transform-origin: 50% 50%;
}

.rim2 {
  transform: rotate(30deg);
}

.rim3 {
  transform: rotate(60deg);
}

.rim4 {
  transform: rotate(90deg);
}

.rim5 {
  transform: rotate(120deg);
}

.rim6 {
  transform: rotate(150deg);
}

.frame {
  width: 500px;
  height: 100px;
  position: absolute;
  bottom: 100px;
  /* background-color: blue; */
}

.fr {
  position: absolute;
  width: 15px;
  background-color: orange;
  min-height: 150px;
}

.fr1 {
  height: 230px;
  right: -7px;
  bottom: -5px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transform: rotate(-20deg);
  transform-origin: 10% 100%;
}

.fr1::before {
  content: '';
  width: 100%;
  height: 50px;
  background-color: white;
  display: block;
  position: absolute;
  top: -50px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.handle {
  position: absolute;
  top: -90px;
  right: -30px;
  width: 100px;
  height: 15px;
  background-color: rgb(41, 39, 39);
  transform: rotate(20deg);
  border-radius: 20px;
}

.handle::after {
  content: '';
  width: 15px;
  height: 50px;
  display: block;
  background-color: rgb(41, 39, 39);
  position: absolute;
  right: 0;
  transform: rotate(30deg);
  transform-origin: 0 20%;
  border-radius: 20px;
}

.fr2 {
  height: 285px;
  left: 150px;
  transform: rotate(82deg);
  top: -320px;
  transform-origin: 0% 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.fr3 {
  bottom: -3px;
  left: 200px;
  height: 280px;
  transform: rotate(60deg);
  transform-origin: 0% 100%;
}

.fr4 {
  left: 200px;
  height: 180px;
  transform: rotate(-20deg);
  transform-origin: 100% 100%;
  bottom: -10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.fr4::before {
  content: '';
  width: 100%;
  height: 40px;
  background-color: white;
  display: block;
  position: absolute;
  top: -35px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.seat {
  width: 100px;
  height: 40px;
  background-color: red;
  transform: rotate(20deg);
  top: -60px;
  left: -30px;
  position: absolute;
  border-radius: 20px 10px 50px 20px;
  background-color: rgb(41, 39, 39);
}

.fr5 {
  left: 0;
  height: 210px;
  transform: rotate(50deg);
  bottom: 0;
  transform-origin: 0% 95%;
  border-radius: 20px;
}

.fr6 {
  left: 0;
  height: 215px;
  transform: rotate(92deg);
  bottom: 0;
  transform-origin: 20% 98%;
  border-radius: 20px;
}

.gear-bg {
  position: absolute;
  left: 170px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  bottom: -35px;
  border: 4px solid #fff;
}

@keyframes movePedal {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.pedal {
  width: 4px;
  height: 40px;
  background-color: #fff;
  left: 200px;
  position: absolute;
  bottom: -5px;
  transform-origin: 0% 100%;
  animation: movePedal 1s infinite linear;
}

.gear-sm {
  position: absolute;
  left: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  bottom: -10px;
  border: 4px solid #fff;
}

.chain-top {
  width: 190px;
  height: 4px;
  background-color: rgb(41, 39, 39);
  bottom: 10px;
  position: absolute;
  transform: rotate(-3deg);
  transform-origin: 0% -0%;
  z-index: -1;
}

.chain-bottom {
  width: 190px;
  height: 4px;
  background-color: rgb(41, 39, 39);
  bottom: -15px;
  position: absolute;
  transform: rotate(6deg);
  transform-origin: 0% -0%;
  z-index: -1;
}

/* Style for bike rider */
.rider {
  width: 200px;
  height: 300px;
  /* background-color: red; */
  position: absolute;
  left: calc(50% - 160px);
  top: calc(-50% - 15px);
}

.butt {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: green;
  position: absolute;
  bottom: 0;
}

.right-leg, .left-leg {
  left: 20px;
  width: 30px;
  height: 170px;
  background-color: #a54d2a;
  position: absolute;
  bottom: -140px;
  transform: rotate(-75deg);
  transform-origin: 0% 0%;
  border-bottom-right-radius: 20px;
  z-index: 1;
}

@keyframes moveRightThigh {
  from {
    transform: rotate(-75deg);
  }

  50% {
    transform: rotate(-40deg);
  }

  to {
    transform: rotate(-75deg);
  }
}

.right-leg {
  animation: moveRightThigh 1s infinite linear;
}

@keyframes moveLeftThigh {
  from {
    transform: rotate(-45deg);
  }

  50% {
    transform: rotate(-75deg);
  }

  to {
    transform: rotate(-45deg);
  }
}

.left-leg {
  transform: rotate(-45deg);
  z-index: -1;
  animation: moveLeftThigh 1s infinite linear;
}

.shorts {
  position: absolute;
  left: -15px;
  width: 60px;
  height: 100px;
  background-color: green;
}

.calf {
  width: 30px;
  height: 100px;
  background-color: #a54d2a;
  position: absolute;
  left: -38px;
  top: 110px;
  border-top-right-radius: 50px;
  transform: rotate(100deg);
}

@keyframes moveRightCalf {
  from, to {
    left: -38px;
    top: 110px;
    transform: rotate(100deg);
  }

  20% {
    top: 130px;
    left: -35px;
    transform: rotate(70deg);
  }

  40% {
    top: 130px;
    left: -20px;
    transform: rotate(40deg);
  }

  60% {
    top: 120px;
    left: -35px;
    transform: rotate(80deg);
  }
}

.calf-right {
  animation: moveRightCalf 1s infinite linear;
}

@keyframes moveLeftCalf {
  from, to {
    left: -30px;
    top: 130px;
    transform: rotate(50deg);
  }

  20% {
    top: 120px;
    left: -35px;
    transform: rotate(90deg);
  }

  40% {
    top: 110px;
    left: -40px;
    transform: rotate(110deg);
  }

  60% {
    top: 120px;
    left: -35px;
    transform: rotate(80deg);
  }
}

.calf-left {
  transform: rotate(50deg);
  left: -30px;
  top: 130px;
  animation: moveLeftCalf 1s infinite linear;
}

.socks {
  background-color: white;
  width: 30px;
  height: 100px;
  position: absolute;
  bottom: -60%;
  z-index: 10;
}

.socks::before {
  content: '';
  width: 30px;
  height: 30px;
  background-color: green;
  position: absolute;
  top: 0;
  z-index: 1;
}

.shoe {
  z-index: 10;
  position: absolute;
  bottom: -30px;
  width: 70px;
  height: 30px;
  border-top-right-radius: 30px;
  border-bottom: 2px solid #fff;
  background-color: green;
}

.shoe::after {
  content: '';
  width: 4px;
  height: 10px;
  border-radius: 20px;
  background-color: green;
  position: absolute;
  left: 0;
  top: -7px;
}

.shoe::before {
  content: '';
  width: 30px;
  height: 10px;
  border-radius: 20px 20px 0 0;
  background-color: green;
  display: block;
  position: absolute;
  top: -12px;
  right: 40%;
  border-bottom: 5px solid #fff;
  transform: rotateY(50deg);
}

.pedal-top {
  position: absolute;
  bottom: -15px;
  width: 40px;
  height: 8px;
  border-radius: 20px;
  background-color: black;
}

@keyframes moveTorso {
  from, to {
    transform: translate(0) rotate(30deg);
  }

  50% {
    transform: translate(7px, 2px) rotate(30deg);
  }
}

.torso {
  width: 70px;
  height: 130px;
  background-color: orange;
  position: absolute;
  bottom: 80px;
  border-radius: 0 0 10px 10px;
  left: 20px;
  transform: rotate(30deg);
  transform-origin: 0% 100%;
  z-index: 1;
  animation: moveTorso 1s infinite linear;
}

.butt {
  animation: moveTorso 1s infinite linear;
}

.torso::before {
  content: '';
  width: 10px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 0;
  border-bottom-left-radius: 10px;
}

.chest {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: orange;
  position: absolute;
  top: -50px;
}

.chest::before {
  content: '';
  width: 100%;
  border-radius: 50%;
  height: 100%;
  border-left: 10px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}

.hand {
  width: 20px;
  height: 190px;
  background-color: #a54d2a;
  position: absolute;
  left: 10px;
  top: -150px;
  transform: rotate(100deg);
  transform-origin: 50% 100%;
  border-radius: 50px 50px 0 0;
}

.hand-left {
  z-index: -1;
  transform: rotate(98deg);
  top: -190px;
  height: 210px;
}

.sleeve {
  width: 40px;
  height: 60px;
  background-color: rgb(231, 156, 15);
  border-radius: 0 0 50px 50px;
  position: absolute;
  bottom: -10px;
  left: -50%;
}

.hand-left .sleeve {
  height: 80px;
}

.neck {
  width: 30px;
  height: 60px;
  background-color: #a54d2a;
  position: absolute;
  top: -95px;
  left: calc(50% - 10px);
  border-radius: 50px;
  transform: rotate(-20deg);
  transform-origin: 0% 100%;
}

.neck::before {
  content: '';
  width: 30px;
  height: 60px;
  display: block;
  border-radius: 10px;
  border-left: 7px solid rgba(0, 0, 0, 0.1);
}

.head {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #a54d2a;
  position: absolute;
  top: -150px;
  left: -10px;
  transform: rotate(-30deg);
  z-index: 1;
}

.cap {
  width: 100%;
  position: absolute;
  top: 0px;
  height: 30px;
  background-color: green;
  border-radius: 50px 50px 0 0;
}

.cap::after {
  content: '';
  width: 60px;
  height: 60px;
  border-radius: 0 50% 50% 0;
  background-color: green;
  position: absolute;
  right: -58px;
  transform: rotateX(80deg);
}

.hair {
  width: 0;
  height: 0;
  border-top: 20px solid #252323;
  border-right: 20px solid transparent;
  position: absolute;
  top: 30px;
  z-index: 1;
}

.ear {
  width: 15px;
  height: 20px;
  border-radius: 50% 0 0 50%;
  background-color: #814128;
  border-left: 8px solid #814128;
  position: absolute;
  top: 35px;
  left: 15px;
  z-index: 1;
}

.ear::after {
  content: '';
  width: 7.5px;
  height: 10px;
  border-radius: 50% 0 0 50%;
  position: absolute;
  background-color: #a54d2a;
  border-left: 8px solid #814128;
  right: 0;
  top: 6px;
}

.nose {
  width: 0;
  height: 0;
  border-bottom: 20px solid #a54d2a;
  border-right: 20px solid transparent;
  position: absolute;
  top: 40px;
  right: -10px;
  transform: rotate(10deg);
  z-index: -1;
}

.eye {
  width: 40px;
  height: 15px;
  border-radius: 50%;
  box-shadow: inset 0.5px 3px 0px 0px rgb(41, 39, 39);
  position: absolute;
  top: 32px;
  left: 40px;
  transform: rotateY(70deg);
}

.eye::after {
  content: '';
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  left: calc(50% - 5px);
  top: 6px;
  background-color: rgb(41, 39, 39);
}

.mouth {
  width: 50px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 1.5px 5px 0px 0px rgb(41, 39, 39);
  position: absolute;
  top: 52px;
  left: 38px;
  transform: rotateY(80deg) rotateX(-20deg);
}

@keyframes moveRoad {
  to {
    transform: translate(-2400px);
  }
}

.road-top {
  /* So the road will never run out of room */
  width: 500000px;
  height: 115px;
  background-color: #333333;
  border-bottom: 10px dashed white;
  animation: moveRoad 10s infinite linear;
  position: fixed;
  bottom: 115px;
  overflow-x: hidden;
  z-index: 1;
}

.road-bottom {
  /* So the road will never run out of room */
  width: 500000px;
  height: 115px;
  background-color: #333333;
  border-top: 10px dashed white;
  animation: moveRoad 10s infinite linear;
  position: fixed;
  overflow-x: hidden;
  z-index: 1;
}

@keyframes moveSun {
  /* from { transform:rotate(0deg); }
  to { transform:rotate(360deg); } */
  from {
    bottom: 0;
    left: 0;
  }

  40% {
    bottom: calc(100vh - 100px);
    left: calc(40% - 50px);
  }

  50% {
    bottom: calc(100vh - 100px);
    left: calc(50% - 50px);
  }

  to {
    bottom: 0;
    left: 100%;
  }
}

.sun {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 60px gold, 0 0 100px rgb(185, 160, 24), inset 0 5px 12px 26px #F5F5F5, inset -2px 8px 15px 36px #E6E6DB;
  position: fixed;
  bottom: 0;
  right: 0;
  animation: moveSun 40s infinite linear;
}

@keyframes moveOffice {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}

.office {
  display: flex;
  z-index: 1;
  position: fixed;
  bottom: 250px;
  animation: moveOffice 10s infinite linear;
}

.shadow {
  border-right: 60px solid #2c2525;
  border-left: 15px solid transparent;
  border-bottom: 15px solid #000;
  width: 200px;
}

.office-main {
  width: 250px;
  height: 700px;
  background-color: #211919;
  display: flex;
  justify-content: space-between;
  position: relative;
}


.office-main .left,
.office-main .right {
  position: absolute;
  bottom: 10%;
  margin: 10px;
  height: 50%;
  width: 40%;
  border-left: 15px dashed white;
  border-right: 15px dashed rgba(214, 156, 19, 0.7);
}

.office-main .right {
  right: 0;
}

/* Extra small devices */
@media only screen and (max-width: 375px) {
  @keyframes moveOffice {
    from {
      transform: translateX(100%) scale(0.4);
    }
  
    to {
      transform: translateX(-100%) scale(0.4);
    }
  }

  .office {
    transform: scale(0.4);
    bottom: 40px;
  }
  
  .office-main .left,
  .office-main .right {
    bottom: 25%;
  }
}

@media only screen and (min-width: 375px) and (max-width: 602px) {
  @keyframes moveOffice {
    from {
      transform: translateX(100%) scale(0.5);
    }
  
    to {
      transform: translateX(-100%) scale(0.5);
    }
  }
  .office {
    transform: scale(0.5);
    bottom: 74px;
  }

  .office-main .left,
  .office-main .right {
    bottom: 25%;
  }
}

@media only screen and (min-width: 603px) {
  @keyframes moveOffice {
    from {
      transform: translateX(100%) scale(0.7);
    }
  
    to {
      transform: translateX(-100%) scale(0.7);
    }
  }
  .office {
    transform: scale(0.7);
    bottom: 145px;
  }

  .office-main .left,
  .office-main .right {
    bottom: 15%;
  }
}

@media only screen and (min-width: 1200px) {
  @keyframes moveOffice {
    from {
      transform: translateX(100%) scale(1);
    }
  
    to {
      transform: translateX(-100%) scale(1);
    }
  }
  .office {
    transform: scale(1);
    bottom: 250px;
  }
}