* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #b19f7a;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  min-height: 100vh;
}

.bicycle {
  width: 500px;
  min-height: 400px;
  position: absolute;
}

/* Extra small devices */
@media only screen and (max-width: 375px) {
  .bicycle {
    transform: scale(0.4);
  }
}

@media only screen and (min-width: 375px) and (max-width: 602px) {
  .bicycle {
    transform: scale(0.5);
  }
}

@media only screen and (min-width: 600px) and (max-width: 720px) {
  .bicycle {
    transform: scale(0.8);
  }
}

@keyframes rotateWheel {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.wheel {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 10px solid black;
  position: absolute;
  bottom: 0;
  /* animation: rotateWheel 1s infinite linear; */
}

.wheel-left {
  left: calc(-50% + 150px);
}

.wheel-right {
  right: calc(-50% + 150px);
}

.wheel::after {
  content: '';
  width: 167.5px;
  height: 167.5px;
  border-radius: 50%;
  display: block;
  border: 6px solid #fff;
  position: relative;
}

.wheel::before {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  background-color: #fff;
  border: 5px solid black;
  position: absolute;
}

.rim {
  width: 2px;
  height: 170px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 6px;
  left: calc(50% - 1px);
  transform-origin: 50% 50%;
}

.rim2 {
  transform: rotate(30deg);
}

.rim3 {
  transform: rotate(60deg);
}

.rim4 {
  transform: rotate(90deg);
}

.rim5 {
  transform: rotate(120deg);
}

.rim6 {
  transform: rotate(150deg);
}

.frame {
  width: 500px;
  height: 100px;
  position: absolute;
  bottom: 100px;
  /* background-color: blue; */
}

.fr {
  position: absolute;
  width: 15px;
  background-color: orange;
  min-height: 150px;
}

.fr1 {
  height: 230px;
  right: -7px;
  bottom: -5px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transform: rotate(-20deg);
  transform-origin: 10% 100%;
}

.fr1::before {
  content: '';
  width: 100%;
  height: 50px;
  background-color: white;
  display: block;
  position: absolute;
  top: -50px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.handle {
  position: absolute;
  top: -90px;
  right: -30px;
  width: 100px;
  height: 15px;
  background-color: rgb(41, 39, 39);
  transform: rotate(20deg);
  border-radius: 20px;
}

.handle::after {
  content: '';
  width: 15px;
  height: 50px;
  display: block;
  background-color: rgb(41, 39, 39);
  position: absolute;
  right: 0;
  transform: rotate(30deg);
  transform-origin: 0 20%;
  border-radius: 20px;
}

.fr2 {
  height: 285px;
  left: 150px;
  transform: rotate(82deg);
  top: -320px;
  transform-origin: 0% 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.fr3 {
  bottom: -3px;
  left: 200px;
  height: 280px;
  transform: rotate(60deg);
  transform-origin: 0% 100%;
}

.fr4 {
  left: 200px;
  height: 180px;
  transform: rotate(-20deg);
  transform-origin: 100% 100%;
  bottom: -10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.fr4::before {
  content: '';
  width: 100%;
  height: 40px;
  background-color: white;
  display: block;
  position: absolute;
  top: -35px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.seat {
  width: 100px;
  height: 40px;
  background-color: red;
  transform: rotate(20deg);
  top: -60px;
  left: -30px;
  position: absolute;
  border-radius: 20px 10px 50px 20px;
  background-color: rgb(41, 39, 39);
}

.fr5 {
  left: 0;
  height: 210px;
  transform: rotate(50deg);
  bottom: 0;
  transform-origin: 0% 95%;
  border-radius: 20px;
}

.fr6 {
  left: 0;
  height: 215px;
  transform: rotate(92deg);
  bottom: 0;
  transform-origin: 20% 98%;
  border-radius: 20px;
}

.gear-bg {
  position: absolute;
  left: 170px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  bottom: -35px;
  border: 4px solid #fff;
}

@keyframes movePedal {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.pedal {
  width: 4px;
  height: 40px;
  background-color: #fff;
  left: 200px;
  position: absolute;
  bottom: -5px;
  transform-origin: 0% 100%;
  animation: movePedal 1s infinite linear;
}

.gear-sm {
  position: absolute;
  left: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  bottom: -10px;
  border: 4px solid #fff;
}

.chain-top {
  width: 190px;
  height: 4px;
  background-color: rgb(41, 39, 39);
  bottom: 10px;
  position: absolute;
  transform: rotate(-3deg);
  transform-origin: 0% -0%;
  z-index: -1;
}

.chain-bottom {
  width: 190px;
  height: 4px;
  background-color: rgb(41, 39, 39);
  bottom: -15px;
  position: absolute;
  transform: rotate(6deg);
  transform-origin: 0% -0%;
  z-index: -1;
}

/* Style for bike rider */
.rider {
  width: 200px;
  height: 300px;
  /* background-color: red; */
  position: absolute;
  left: calc(50% - 160px);
  top: calc(-50% - 15px);
}

.butt {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: green;
  position: absolute;
  bottom: 0;
}

.right-leg, .left-leg {
  left: 20px;
  width: 30px;
  height: 170px;
  background-color: #a54d2a;
  position: absolute;
  bottom: -140px;
  transform: rotate(-75deg);
  transform-origin: 0% 0%;
  border-bottom-right-radius: 20px;
  z-index: 1;
}

@keyframes moveRightThigh {
  from {
    transform: rotate(-75deg);
  }

  50% {
    transform: rotate(-40deg);
  }

  to {
    transform: rotate(-75deg);
  }
}

.right-leg {
  animation: moveRightThigh 1s infinite linear;
}

.left-leg {
  transform: rotate(-45deg);
  z-index: -1;
}

.shorts {
  position: absolute;
  left: -15px;
  width: 60px;
  height: 100px;
  background-color: green;
}

.calf {
  width: 30px;
  height: 100px;
  background-color: #a54d2a;
  position: absolute;
  left: -38px;
  top: 110px;
  border-top-right-radius: 50px;
  transform: rotate(100deg);
}

@keyframes moveRightCalf {
  from, to {
    left: -38px;
    top: 110px;
    transform: rotate(100deg);
  }

  20% {
    top: 130px;
    left: -35px;
    transform: rotate(80deg);
  }

  40% {
    top: 130px;
    left: -20px;
    transform: rotate(60deg);
  }

  60% {
    top: 120px;
    left: -35px;
    transform: rotate(90deg);
  }
}

.calf-right {
  animation: moveRightCalf 1s infinite linear;
}

.calf-left {
  transform: rotate(50deg);
  left: -30px;
  top: 130px;
}

.socks {
  background-color: white;
  width: 30px;
  height: 120px;
  position: absolute;
  bottom: -60%;
  z-index: 10;
}

.socks::before {
  content: '';
  width: 30px;
  height: 30px;
  background-color: green;
  position: absolute;
  top: 0;
  z-index: 1;
}

.shoe {
  z-index: 10;
  position: absolute;
  bottom: -30px;
  width: 70px;
  height: 30px;
  border-top-right-radius: 30px;
  border-bottom: 2px solid #fff;
  background-color: green;
}

.shoe::after {
  content: '';
  width: 4px;
  height: 10px;
  border-radius: 20px;
  background-color: green;
  position: absolute;
  left: 0;
  top: -7px;
}

.shoe::before {
  content: '';
  width: 30px;
  height: 10px;
  border-radius: 20px 20px 0 0;
  background-color: green;
  display: block;
  position: absolute;
  top: -12px;
  right: 40%;
  border-bottom: 5px solid #fff;
  transform: rotateY(50deg);
}