html {
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  width: 400px;
  background-color: orange;
  min-height: 500px;
  max-width: calc(100% - 20px);
  padding: 0 10px;
  position: relative;
  z-index: 1;
}

.ear-left,
.ear-right {
  width: 80px;
  height: 80px;
  background-color: #243946;
  border-radius: 50%;
  position: absolute;
  top: -40px;
}

.ear-left {
  left: -40px;
}

.ear-right {
  right: -40px;
}

.dog {
  width: 200px;
  margin: 0 auto;
  margin-top: 50px;
  position: relative;
}

.face {
  --rotate-face: 0deg;
  transform: rotate(var(--rotate-face));
  transition: transform .3s ease-in;
}

.eyes {
  display: flex;
  width: 150px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.eye-left, .eye-right {
  width: 30px;
  height: 30px;
  background-color: #243946;
  border-radius: 50%;
  position: relative;
}

.eye-left::before,
.eye-right::before {
  content: '';
  display: block;
  width: 15px;
  height: 10px;
  border-radius: 50%;
  right: 0;
  position: absolute;
  transform: rotate(40deg) translate(0, 3px);
  background-color: white;
}

.nose {
  position: relative;
  text-align: center;
  width: 38px;
  height: 22px;
	margin: 20px auto;
}

#nose {
  position: relative;
}

.nose::before {
  content: '';
  display: block;
  position: absolute;
  width: 17px;
  height: 10px;
  left: calc(50% - 8.5px);
  top: 2px;
  border-radius: 100px / 50px;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 1;
}

.mouth {
  position: relative;
}

.lips1 {
  width: 80px;
  position: absolute;
  left: calc(50% - 40px);
  height: 20px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom: 3px solid #243946;
  border-right: 3px solid #243946;
  border-left: 3px solid #243946;
  z-index: 1;
  background-color: orange;
}

.lips2 {
  position: absolute;
  bottom: -30px;
  left: calc(50% - 25px);
  width: 50px;
  height: 30px;
  border-radius: 100px/50px;
  background-color: #243946;
}

.tongue {
  width: 30px;
  height: 50px;
  background-color: #FCB9C1;
  position: absolute;
  left: calc(50% - 15px);
  border-radius: 0 0 20px 20px;
}

.tongue::before {
  content: '';
  height: 5px;
  width: 100%;
  display: block;
  position: absolute;
  top: 20px;
  background-color: #f1818f;
}

.tongue::after {
  content: '';
  width: 4px;
  height: 80%;
  left: calc(50% - 2px);
  background-color: #f1818f;
  display: block;
  position: absolute;
}

.hands {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 150px;
}

.hand {
  display: flex;
  z-index: 1;
}

.finger {
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border: 1.5px solid #243946;
  border-top: none;
  width: 15px;
  position: relative;
  background-color: orange;
}

.finger1 {
  height: 20px;
  top: 5px;
}

.finger2 {
  left: -1.5px;
  height: 30px;
  z-index: 1;
}

.finger3 {
  left: -3.5px;
  top: 3px;
  height: 20px;
}

form {
  position: absolute;
  top: 220px;
  width: 280px;
  left: calc(50% - 140px);
  max-width: 100%;
  margin: 0 auto;
}

label {
  position: relative;
  width: 280px;
}

label .fa {
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 20px;
  color: rgba(36, 57, 70, 0.5);
}

input {
  width: 280px;
  max-width: 100%;
  border-radius: 50px;
  padding: 10px 50px;
  margin: 0 0 10px;
  border: none;
  display: block;
  outline: none;
}

.show-pass {
  color: rgba(36, 57, 70, 0.5);
  background-color: transparent;
  outline: none;
  cursor: pointer;
  position: absolute;
  left: 240px;
  border: none;
  font-size: 1.2rem;
  top: 6px;
}

button[type="submit"] {
  width: 100%;
  height: 35px;
  border-radius: 50px;
  background-color: #243946;
  color: #fff;
  border: none;
  margin: 10px 0;
}